name: FinServe CI/CD DevSecOps

'on':
  push:
    branches:
      - main
      - staging
  pull_request:
    branches:
      - main
      - staging

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Init Terraform (staging)
        run: |
          cd terraform/envs/staging
          terraform init

      - name: Validate Terraform
        run: |
          cd terraform/envs/staging
          terraform validate

      - name: Plan Terraform
        run: |
          cd terraform/envs/staging
          terraform plan

      - name: IaC Security Scan (Checkov)
        run: ./scripts/scan-terraform.sh

  container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build container image
        run: docker build -t hello-nginx:latest .

      - name: Container Security Scan (Trivy)
        run: ./scripts/scan-image.sh hello-nginx:latest

  patch-vm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run patch script
        run: ./scripts/patch-vm.sh

  secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Load secrets from .env
        run: |
          export $(grep -v '^#' .env | xargs)
          echo "DB_PASSWORD loaded from env"

      - name: Load secrets from mock key vault
        run: |
          DB_PASSWORD=$(jq -r '.["db-password"]' mock-keyvault.json)
          echo "Loaded DB password from mock vault"

  deploy:
    name: Deploy Hello App to Kind
    runs-on: ubuntu-latest
    needs: terraform
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Kind
        uses: helm/kind-action@v1.9.0
        with:
          version: v0.22.0

      - name: Create Kind Cluster
        run: kind create cluster --name finserve --wait 60s

      - name: Deploy NGINX app
        run: |
          kubectl create deployment hello-nginx --image=nginx
          kubectl expose deployment hello-nginx --port=80 --target-port=80 --type=NodePort

      - name: Wait for rollout
        run: kubectl rollout status deployment/hello-nginx

      - name: Smoke Test App
        run: |
          kubectl get svc hello-nginx
          kubectl run curl --image=curlimages/curl -i --rm --restart=Never -- \
            curl http://hello-nginx.default.svc.cluster.local